/* Sección hero */
#hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
}

/* El contenedor de partículas */
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* El texto dentro del Hero */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--text-main);
}

.hero-content h1 {
    font-size: 4rem;
    margin: 10px 0;
    font-weight: 700;
}

.hero-content .resaltado {
    color: var(--color-primary);
}

.hero-content .saludo {
    font-size: 1.5rem;
    color: var(--text-muted);
}

.hero-content .descripcion {
    font-size: 1.8rem;
    color: var(--text-muted);
    margin-bottom: 30px;
}

.btn-hero {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid var(--color-primary);
    color: var(--text-main);
    text-decoration: none;
    transition: 0.3s;
}
.btn-hero:hover {
    background-color: var(--color-primary-subtle);
}